<header>
  <span class='logo-mark'>BAUKIS2</span>
  <%=
    if current_staff
      link_to 'ログアウト', :destroy_staff_session, method: :delete
    else
      link_to 'ログイン', :new_staff_session
    end
  %>
</header>
