@import "colors";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
  background-color: $white;
}
header {
  padding: 5px;
  background-color: $ruby;
  color: $white;
  a.logo-mark {
    float: none;
    text-decoration: none;
    font-weight: bold;
  }
  a {
    float: right;
    padding-right: 5px;
    color: $white;
  }
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: $claret;
  color: $white;
}
footer p {
  text-align: center;
  padding: 5px;
  margin: 0;
}
