<header>
  <span class='logo-mark'>BAUKIS2</span>
  <%=
    if current_admin
      link_to 'ログアウト', :destroy_admin_session, method: :delete
    else
      link_to 'ログイン', :new_admin_session
    end
  %>
</header>
